<h1>Horario#index</h1>

<table class="table-responsibe table-bordered">

    <thead>
        <tr>
            <th scope="col"> # </th>
            <%@diasDistintos.each do |dia| %>
                <th scope="col">
                    <%= I18n.t('date.day_names')[dia.diaSemana] %> 
                </th>
            <% end %>
        </tr>
    </thead> 

    <tbody>
        <% @horarioGeneral.each  do |h| %>
             <tr>
                 <td> <%= h[0] %> </td>
                <% for idx in @diasDistintos.first.diaSemana..@diasDistintos.last.diaSemana do %>
                    <td> 
                        <% unless h[1][idx].blank? %>
                        <ol>
                            <% h[1][idx].usuario.each do |alm|%> 
                                <li> <%= alm.nombre %> </li>
                            <% end %>
                        </ol>
                        <%end%>

                    </td>
                <% end %>
            </tr>
        <% end%>
    </tbody>
    
</table>
