<div class="container mt-5">
  <h2>Comparación Mensual Interanual</h2>
  <div data-controller="echart"
       data-echart-years-value="<%= @years.to_json %>"
       data-echart-months-value="<%= @months.to_json %>"
       data-echart-data-value="<%= @comparison_data.to_json %>"
       style="width: 100%; height: 500px;"></div>
</div>

